body {
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    line-height: 1.6;
}

header h1 {
    font-family: serif;
}

header p {
    font-size: small;
}


main,
footer,
header {
    margin: auto;
    max-width: 750px;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: #36c;
}


footer {
    font-size: small;
    margin-top: 50px;
}


pre {
    background-color: #f6f6f6;
    overflow-x: auto;
}
